
.brand-logo {
    font-family: 'Pathway Gothic One', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.slider {
    margin-top: 25px;
}

.small-tagline {
    background-color: rgba(27, 27, 27, 0.692);
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}