{% extends "base.html" %}
{% block content %}

    <h3 class="grey-text text-darken-4 center-align">Edit Existing Spot</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_spot', spot_id=spot._id) }}">
            <!--cuisine category-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix grey-text text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose an option</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Type of Cuisine</label>
                </div>
            </div>
            <!--spot name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix grey-text text-darken-4"></i>
                    <input id="spot_name" name="spot_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="spot_name">Location Name</label>
                </div>
            </div>
            <!--address-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt prefix grey-text text-darken-4"></i>
                    <input id="address"  name="address" minlength="5" maxlength="100"
                         type="text" class="validate" required>
                    <label for="address">Address</label>
                </div>
            </div>
            <!--visit date-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix grey-text text-darken-4"></i>
                    <input id="visit_date" name="visit_date" type="text" class="datepicker validate" required>
                    <label for="visit_date">Date of Visit</label>
                </div>
            </div>
            <!--whats good-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix grey-text text-darken-4"></i>
                    <textarea id="whats_good" name="whats_good" minlength="5" maxlength="300"
                        class="materialize-textarea validate" required></textarea>
                    <label for="whats_good">Description. What's good here?</label>
                </div>
            </div>
            <!--recommend-->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-thumbs-up prefix grey-text text-darken-4"></i>
                        <label for="recommend">
                            <input type="checkbox" id="recommend" name="recommend">
                            <span class="lever"></span>
                            Highly Recommend!
                        </label>
                    </div>
                </div>
            </div>
            <!--submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large orange darken-1 text-shadow">
                        Edit Spot <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
