{% extends "base.html" %}
{% block content %}

     <!--slider-->
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="{{ url_for('static', filename='images/tacos.jpg') }}"> 
        <div class="caption center-align">
          <h3>LA is a culinary mecca</h3>
          <h5 class="light white-text text-lighten-3 small-tagline">A salad bowl and melting pot all in one!</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='images/restaurant-patio.jpg') }}"> 
        <div class="caption left-align">
          <h3>Cuisine from almost every part of the world</h3>
          <h5 class="light white-text text-lighten-3 small-tagline">From the traditional to cross-cultural fusion</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='images/burgers.jpg') }}"> 
        <div class="caption right-align">
          <h3>So many culinary experiences</h3>
          <h5 class="light white-text text-lighten-3 small-tagline">Right outside your front door</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='images/foodtruck.jpg') }}"> 
        <div class="caption center-align">
          <h3>What will you discover next?</h3>
          <h5 class="light white-text text-lighten-3 small-tagline">Come out and explore with FoodscapeLA</h5>
        </div>
      </li>
    </ul>
  </div>
   
    <!--spots collapsible-->
    <ul class="collapsible popout">
        {% for spot in spots %}
        <li>
            <div class="collapsible-header white-text orange darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="{{ url_for('edit_spot', spot_id=spot._id) }}" class="btn-small grey accent-4">Edit</a>
                </div>
                <div class="col s9">
                    <strong>{{ spot.spot_name }}</strong>
                    {% if spot.recommend == "on" %}
                        <i class="fas fa-thumbs-up white-text text-lighten-2 tooltipped" data-position="right"
                            data-tooltip="Highly Recommend"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <p>
                    <i class="fas fa-utensils prefix grey-text text-darken-4"></i>
                    <strong>Type of Cuisine:</strong> {{ spot.category_name }} <br>
                </p>
                <p>
                    <i class="fas fa-map-marker-alt prefix grey-text text-darken-4"></i>
                    <strong>Address:</strong> {{ spot.address }} <br>
                </p>
                <p>
                    <i class="fas fa-align-left prefix grey-text text-darken-4"></i>
                    <strong>Description & What's Good Here:</strong><br>{{ spot.whats_good }}
                </p>
                <p>
                    <i class="fas fa-calendar-alt prefix grey-text text-darken-4"></i>
                    <strong>Last Visited:</strong> {{ spot.visit_date }}
                </p>
                <p>
                    <em>Created by: {{ spot.created_by }}</em>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
